html, body {
  margin: 0;
  overflow: hidden;  
}

body {
  background-color: black;
  font-family: 'Luckiest Guy';
  /* font-family: 'Wendy One'; */
  font-weight: 800;
  color: white;
  -webkit-font-smoothing: antialiased;
  background-image: url('/img/cute-4224819_960_720.jpeg');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
}

button, input {
  font-family: 'Luckiest Guy';
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #e11d7499;
  color: white;
  border: none;
  border-radius: 0.25rem;
}

button:hover, input:hover {
  background-color: #e11d74;
}

a {
  text-decoration: none;
}

.is-clickable {
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;        /* for single line flex container */
  align-content: center;
  width: 100vw;
  height: 100vh;
}

#chatControls {
  opacity: 0;
  display: flex;
  cursor: pointer;
  position: fixed;
  z-index: 99;
  top: 0.75rem;
  right: 0.75rem;
  padding: 0.75rem;
  transition: opacity 0.25s ease-in;
}

#chatControls.active {
  display: none;
}

#chat {
  position: absolute;
  display: none;
  align-items: flex-end;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #0009;
  top: 0;
  right: 0;
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  transition: opacity 0.25s ease-in-out;
}

#chat.active {
  opacity: 1;
  display: flex;
}

#chat .chat-container {
  padding: 0.75rem 1rem;
  max-height: 100vh;
}

#chat .chat-container .toggleChat {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

#chat .chat-container .toggleChat .mdi-close {
  color: white;
  font-size: 4rem;
  position: relative;
  top: -0.25rem;
}

#chat_form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  grid-gap: 0.5rem;
  margin-top: 0.5rem;
}

#chat_form input {
  flex: 1;
}

#chat_content {
  max-height: 82vh;
  width: 100%;
  overflow: auto;
}

#chat_content .flag {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: .25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  top: 4px;
  box-shadow: 2px 2px 0 #0003;
  border-radius: 100%;
  border: 2px solid wheat;
}

#chat_content .username {
  color: #ff0e;
}

#chat_content .username.botcat {
    color: #38b301;
}

#chat_content .time {
  display: block;
  font-size: 0.75rem;
  margin-left: 0.25rem;
  color: #fff6;
}

#username {
  color: #fff;
  font-size: 1.5rem;
  text-shadow: 3px 3px 0 #0003;
}

#chat_content p.message {
  margin-top: 0;
  margin-bottom: 0.25rem;
  line-height: 1.25;
  text-shadow: 2px 2px 0 #0003;
}

#chat .chat-container .profile {
  position: absolute;
  z-index: 1;
  top: 1.25rem;
  left: 1.25rem;
  color: white;
  font-size: 1.5rem;  
  text-shadow: 3px 3px 0 #0003;
}

.foreground {
  text-align: center;
  background-color: transparent;
  z-index: 30;
}

.foreground h1 {
  margin-top: 0.75rem;
  margin-bottom: 0;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-shadow: 6px 6px 0 rgba(0,0,0,0.75);
}

.foreground h2 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.75);
}

.foreground h4 {
  margin-top: 0;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.75);
}

.nowplaying {
  min-height: 5rem;
}

#playBtn {
  background-color: #ec0101;
  top: 4px;
  font-size: 8rem;
  position: relative;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.1s linear;
  border-radius: 130px;
  width: 130px;
  height: 130px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  line-height: 130px;
}

#playBtn.is-playing {
  background-color: #79d70f;
}

#playBtn .mdi-power {
  color: white;
}

#playBtn:hover {
  top: 0;
  box-shadow: 12px 12px rgba(0, 0, 0, 0.2);
}

#playBtn:active {
  top: 8px;
  box-shadow: 0px 0px #d3545d;
}

.social {
  display: flex;
  flex-direction: row;
  z-index: 30;
}

.social .mdi {
  position: relative;
  top: 3px;
  font-size: 3rem;
  text-shadow: 6px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.1s linear;
}

.social .mdi:hover {
  top: 0;
  text-shadow: 8px 8px rgba(0, 0, 0, 0.2);
}

.social .mdi:active {
  top: 6px;
  text-shadow: 0px 0px #d3545d;
}

.social .mdi-whatsapp {
  color: #25d366;
}

.social .mdi-twitter {
  color: #1da1f2;
}

.social .mdi-facebook {
  color: #1877f2;
}

.social .mdi-folder-music {
  color: #fffc00;
}

.social .mdi-email-outline {
  color: #ff4500;
}

.social .mdi-github {
  color: #171515;
}

.social .mdi-chat-processing {
  color: #e11d74; 
}

.pointer {
  cursor: pointer;
}


/* spinner */

#loading {
  display: flex;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: black;
}

.spinner-container {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  z-index: 99;
  width:100px; height:100px;
  margin: 100px auto;
}

.spinner-container .path {
  stroke-dasharray: 1,150; /* 1%, 101% circumference */
  stroke-dashoffset: 0;
  stroke: rgba(150, 150, 150, 0.7);
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate{
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,150;  /* 1%, 101% circumference */
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -35;   /* 25% circumference */
  }
  100% {
    stroke-dasharray: 90,150; /* 70%, 101% circumference */
    stroke-dashoffset: -124;  /* -99% circumference */
  }
}

/* responsive */

.mobile, .desktop {
  display: none;
}

@media screen and (max-width:768px), print {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

@media screen and (min-width:769px), print {
  .desktop {
    display: block;
  }
  .foreground h1 {
    margin-top: 0;
  }
}

@media screen and (min-width:1024px), print {
  #app, #chatControls {
    zoom: 1.5; 
    transform: scale(1.5);
    transform-origin: center;
  }
}

@media screen and (max-width:440px), print {
  .foreground h1 {  
    font-size: 3rem;
  }
  .foreground h2 {
    font-size: 1.25rem;
  }
  .social .mdi {
    font-size: 2.25rem;
  }
  #playBtn {
    font-size: 4.5rem;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    line-height: 80px;
  }
}

