#switchControls {
  opacity: 0;
  display: flex;
  cursor: pointer;
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0;
  padding: 1rem;
  transition: opacity 0.25s ease-in;
}

#switchControls.active {
  opacity: 0.5;
}

#switchControls:hover {
  opacity: 0.85;
}

#overlay {
  display: block;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #0009;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in;
}

#overlay {
  z-index: 10;
  background-color: black;
}

#canvas {
  display: block;
  background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
  position: absolute;
  top: 0px;
  z-index: 20;
  /* background-color: transparent;
   transform: scale(0.75) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg) translateX(-2em) translateY(-2em);
  filter: blur(1px); */
}

#canvas.active {
  opacity: 1;
}

#overlay.active {
  opacity: 0.9;
}

audio {
  position: fixed;
  z-index: 90;
  left: 10px;
  bottom: -80px;
  width: calc(100% - 20px);
  opacity: 0.2;
  transition: all 0.5s;
}
/*
#app:hover audio {
  opacity: 0.8;
  bottom: 10px;
}*/